*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.nav{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 120px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 40px;
}

.btn{
    padding: 12px 20px;
    background: #30B868;
    border: none;
    border-radius: 6px;

    color: white;
    font-weight: bold;
    cursor: pointer;

    font-weight: 600px;
    font-size: 16px;
}

.banner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: url(./assets/hero-bg.png) no-repeat center;
    background-size: cover;
    padding: 120px 115px 120px 180px;
    display: flex;
    color: white;
}

.banner .banner_content{
    width: 85%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.banner_content .sub1{
    width: 85%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.sub1 .button{
    padding: 12px 8px;
    /* width: 14.29%;
    max-width: 229px; */
    background-color: white;
    color: #30B868;
    display: flex;
    flex-direction: row;
    border-radius: 1000px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 16px;
}

.sub1 .head1{
    font-size: 72px;
    font-style: bold;
    text-align: center;
    text-transform: capitalize;
    opacity: 0.9;    
}

.sub1 .head2{
    font-size: 72px;
    font-style: bold;
    text-align: center;
    text-transform: capitalize;
    color: #30B868;
    opacity: 0.9; 
    margin-bottom: 16px;   
}

.sub1 p{
    width: 70%;
    text-align: center;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.banner_content .btn1{
    padding: 12px 20px;
    background: none;
    border: none;
    border-radius: 6px;

    color: white;
    font-weight: bold;
    cursor: pointer;

    font-weight: 600px;
    font-size: 16px;

    border: 2px solid white;
}
