*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.nav{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 120px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 40px;
}

.btn{
    padding: 12px 20px;
    background: #30B868;
    border: none;
    border-radius: 6px;

    color: white;
    font-weight: bold;
    cursor: pointer;

    font-weight: 600px;
    font-size: 16px;
}

.banner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: url(./assets/hero-bg.png) no-repeat center;
    background-size: cover;
    padding: 120px 115px 120px 180px;
    display: flex;
    color: white;
}

.banner .banner_content{
    width: 85%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.banner_content .sub1{
    width: 85%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.sub1 .button{
    padding: 12px 8px;
    /* width: 14.29%;
    max-width: 229px; */
    background-color: white;
    color: #30B868;
    display: flex;
    flex-direction: row;
    border-radius: 1000px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 16px;
}

.sub1 .head1{
    font-size: 72px;
    font-style: bold;
    text-align: center;
    text-transform: capitalize;
    opacity: 0.9;    
}

.sub1 .head2{
    font-size: 72px;
    font-style: bold;
    text-align: center;
    text-transform: capitalize;
    color: #30B868;
    opacity: 0.9; 
    margin-bottom: 16px;   
}

.sub1 p{
    width: 70%;
    text-align: center;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.banner_content .btn1{
    padding: 12px 20px;
    background: none;
    border: none;
    border-radius: 6px;

    color: white;
    font-weight: bold;
    cursor: pointer;

    font-weight: 600px;
    font-size: 16px;

    border: 2px solid white;
    margin-left: 32px;
}

.cards .card_container{
    width: 85%;
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}
.cards .card_container .section_heading{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}

.section_heading h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    font-style:bold;
}

.section_heading p{
    color: #627382;
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
}

.card_container .card_slot{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 50px;
}

.card_slot .card{
    width: 20%;
    max-width: 332px;
    /* border: 0.5px black solid; */
    border-radius: 12px;
    padding: 40px 24px;
    /* margin-top: 44px; */
    text-align: center;
    gap:16px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.08);

}

.card :hover{
    transform: translateY(-6px);
}

.card h3{
    font-size: 24px;
    text-align: center;
    margin-bottom: 12px;
}

.card p{
    max-width: 274px;
    margin: 0 24px 0 24px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;
    line-height: 1.5;
}

.card img{
    max-width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.creative .creative_container{
    margin: 120px;
    display: flex;
    gap: 60px;
}

.creative_container img{
    max-width: 600px;
    max-height: 600px;
    border-radius: 12px;
}

.creative_container .content{
    padding: 120px 0 120px 0;
}

.content h4{
    color: #30B868;
    max-width: 700px;
    max-height: 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 16px;
}

.content h2{
    max-width: 700px;
    max-height: 116px;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.content .description{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.content .points ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.points ul li{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 18px;
}

ul li img{
    width: 20px;
    height: 20px;
}

ul li p{
    margin: 0;
    font-size: 16px;
    color: #06223b;
}

.access{
    margin: 0 120px 120px 120px;
}

.access .access_content{
    padding: 80px 40px;
    background-color: #e9eaea;
    text-align: center;
    border-radius: 15px;
}

.access_content h2{
    font-size: 40px;
    text-align: center;
    color: #001931;
    margin-bottom: 16px;
}

.access p{
    text-align: center;
    color: #586673;
    margin-bottom: 24px;
}

.access_content .btn{
    margin-bottom: 16px;
}